force-app/main/default/flows/v2mom_Create_Draft_Records.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>assignment_Count_v2mom_records</name>
        <label>assignment Count v2mom records</label>
        <locationX>619</locationX>
        <locationY>236</locationY>
        <assignmentItems>
            <assignToReference>count_v2mom_records</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>get_v2mom_records_current_year</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_records_are_found</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignment_Count_v2mom_records_0</name>
        <label>assignment Count v2mom records</label>
        <locationX>1129</locationX>
        <locationY>236</locationY>
        <assignmentItems>
            <assignToReference>count_v2mom_records</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>get_v2mom_records_next_year</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_records_are_found_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_records_are_found</name>
        <label>Check if records are found</label>
        <locationX>756</locationX>
        <locationY>238</locationY>
        <defaultConnector>
            <targetReference>get_v2mom_records_next_year</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Found Record(s)</defaultConnectorLabel>
        <rules>
            <name>No_Records_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>count_v2mom_records</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_v2mom_record_for_current_year</targetReference>
            </connector>
            <label>No Records Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_records_are_found_0</name>
        <label>Check if records are found</label>
        <locationX>1267</locationX>
        <locationY>238</locationY>
        <defaultConnectorLabel>Found Record(s)</defaultConnectorLabel>
        <rules>
            <name>No_Records_Found_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>count_v2mom_records</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_v2mom_record_for_next_year</targetReference>
            </connector>
            <label>No Records Found</label>
        </rules>
    </decisions>
    <description>Scheduled flow to add v2mom records to newly added resources and create new draft for next year</description>
    <environments>Default</environments>
    <formulas>
        <name>currentYear</name>
        <dataType>String</dataType>
        <expression>TEXT(YEAR(TODAY()))</expression>
    </formulas>
    <formulas>
        <name>nextYear</name>
        <dataType>String</dataType>
        <expression>TEXT(YEAR(ADDMONTHS(TODAY(),12)))</expression>
    </formulas>
    <formulas>
        <name>v2momName_currentYear</name>
        <dataType>String</dataType>
        <expression>&quot;FY&quot;+{!currentYear}+&quot; V2MOM - &quot;+{!$Record.FirstName}+&quot; &quot;+{!$Record.LastName}</expression>
    </formulas>
    <formulas>
        <name>v2momName_nextYear</name>
        <dataType>String</dataType>
        <expression>&quot;FY&quot;+{!nextYear}+&quot; V2MOM - &quot;+{!$Record.FirstName}+&quot; &quot;+{!$Record.LastName}</expression>
    </formulas>
    <interviewLabel>v2mom: Create Draft Records {!$Flow.CurrentDateTime}</interviewLabel>
    <label>v2mom: Create Draft Records</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_v2mom_record_for_current_year</name>
        <label>Create v2mom record for current year</label>
        <locationX>764</locationX>
        <locationY>19</locationY>
        <connector>
            <targetReference>get_v2mom_records_next_year</targetReference>
        </connector>
        <inputAssignments>
            <field>FY_Year__c</field>
            <value>
                <elementReference>currentYear</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>v2momName_currentYear</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>V2MOM__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_v2mom_record_for_next_year</name>
        <label>Create v2mom record for next year</label>
        <locationX>1276</locationX>
        <locationY>19</locationY>
        <inputAssignments>
            <field>FY_Year__c</field>
            <value>
                <elementReference>nextYear</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>v2momName_nextYear</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>V2MOM__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>First check if there are v2mom records for current year</description>
        <name>get_v2mom_records_current_year</name>
        <label>get v2mom records current year</label>
        <locationX>483</locationX>
        <locationY>236</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assignment_Count_v2mom_records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>FY_Year__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>currentYear</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>V2MOM__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_v2mom_records_next_year</name>
        <label>get v2mom records next year</label>
        <locationX>981</locationX>
        <locationY>236</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assignment_Count_v2mom_records_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>FY_Year__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>nextYear</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>V2MOM__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>95</locationX>
        <locationY>166</locationY>
        <connector>
            <targetReference>get_v2mom_records_current_year</targetReference>
        </connector>
        <filterLogic>(1 OR 2) AND 3</filterLogic>
        <filters>
            <field>UserRoleId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>00E4J000001BpORUA0</stringValue>
            </value>
        </filters>
        <filters>
            <field>UserRoleId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>00E4J000001BJYMUA4</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>User</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2023-08-02</startDate>
            <startTime>02:30:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>count_v2mom_records</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
